---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?fields=title,isbn&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.027 TT 0 0.028"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 772,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "title": "Denver, Co",
                    "isbn": [
                        "0762507845",
                        "9780762507849"
                    ]
                },
                {
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "isbn": [
                        "9780607620054",
                        "0607620056"
                    ]
                },
                {
                    "title": "Denver East, CO and Castle Rock, CO: Denver, CO",
                    "isbn": [
        [...]
